.menu {
    margin: 40px 40px 100px 40px;
    display: grid;
    grid-template-columns: repeat(4,310px); 
    grid-template-rows: repeat(auto,auto);
    gap: 40px;
}
@media (min-width:1040px) and (max-width:1438px) {
    .menu{
        grid-template-columns: repeat(3,310px);
        margin: 40px auto;
        justify-content: center;
    }
}
.menu__item {
    display: flex;
    height: 506px;
    width: 310px;
    flex-direction: column;
    border-radius: 40px;
    border: 1px solid  #C1B6AD;
}
.menu__item_img{
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    position: relative; 
    top: -15px;
    left: -15px;
} 
.menu__item_img-box{
    width: 310px;
    height: 310px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}
.menu__item img {
    transition: 0.5s; 
    display: block; 
}
.menu__item img:hover {
    transform: scale(0.93); 
}
.menu__item_title {
    color: #403F3D;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%; /* 30px */
    margin: 20px 20px 12px 20px;
}
.menu__item_text {
    color:#403F3D;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 0 20px;
    align-self: stretch;
    width: 270px;
}
.menu__item_price {
    color: #403F3D;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    line-height: 125%; /* 30px */
    margin: auto 20px 20px 20px;
}
.menu__item_inv{
    display: none;
}
.loadButton{
    display: none;
}
@media (min-width:350px) and (max-width:1040px) {
    .menu{
        grid-template-columns: repeat(2,310px);
        margin: 40px auto;
        justify-content: center;
    }
    .sec_page{
        display: none;
    }
    .loadButton{
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid #665F55;
        margin: 0 auto 100px auto;
        background-color: #E1D4C9;
    }
}
@media (min-width:350px) and (max-width:735px) {
    .menu {
        margin: 0 auto 40px auto;
        grid-template-columns: repeat(1,310px); 
        max-width: 310px;
    }
}